.background{
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.calculator{
    display:grid;
    background-color:darkgrey;
    width:450px;
    height: 600px;
    grid-template-columns: 112.5px 112.5px 112.5px 112.5px;
    grid-template-rows:100px 100px 100px 100px 100px 100px;
}

body{
    padding:0px;
    margin:0px;
}

.display1{
    grid-column: 1/5;
}

.display2{
    grid:2;
}

.calculator input[type='button']{
    width: 70px;
    height:70px;

}

.calculator input[type='text']{
    width: 70px;
    height:70px;
    border:none;
    width:400px;
    font-size:60px;
}


.calculator div{
    display: flex;
   text-align:center;
   justify-content: center;
   align-items: center;
}
